
.body {
margin: 200px;
}

*{ margin: 0px;
   padding: 0px;

}

.li {list-style: none;
     width: 500px;
     height: 30px;
     margin-top: 5px;
     border: 1px solid black;
     background-color: pink;

}

.textarea{
width: 200px;
height: 80px;
}
